<!doctype html>
<html>
<head>
    <title>Sketch Pad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="/static/content/style.css">
        <script type="text/javascript">

        var ctx, color = "#000";

        document.addEventListener("DOMContentLoaded", function () {

            // setup a new canvas for drawing wait for device init
            setTimeout(function () {
                newCanvas();
            }, 1000);

        }, false);

        // function to setup a new canvas for drawing
        function newCanvas() {
            //define and resize canvas
            document.getElementById("content").style.height = window.innerHeight - 90;
            var canvas = '<canvas id="canvas" width="' + window.innerWidth + '" height="' + (window.innerHeight - 00) + '"></canvas>';
            document.getElementById("content").innerHTML = canvas;

            // setup canvas
            ctx = document.getElementById("canvas").getContext("2d");
            ctx.strokeStyle = color;
            ctx.lineWidth = 5;
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canvas.width, canvas.height);;

            // setup to trigger drawing on mouse or touch
            drawTouch();
            drawPointer();
            drawMouse();
        }
            function b64toBlob(b64Data, contentType, sliceSize) {
                contentType = contentType || '';
                sliceSize = sliceSize || 512;

                var byteCharacters = atob(b64Data);
                var byteArrays = [];

                for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    var slice = byteCharacters.slice(offset, offset + sliceSize);

                    var byteNumbers = new Array(slice.length);
                    for (var i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }

                    var byteArray = new Uint8Array(byteNumbers);

                    byteArrays.push(byteArray);
                }

                var blob = new Blob(byteArrays, { type: contentType });
                return blob;
            }
        function savePicture() {
            var canvas1 = document.getElementById("canvas");
            if (canvas1.getContext) {
                var ctx = canvas1.getContext("2d");
                

                //testcompist
                w = canvas1.width
                h = canvas1.height
                data = ctx.getImageData(0, 0, w, h);
                var compositeOperation = ctx.globalCompositeOperation;
                ctx.globalCompositeOperation = "destination-over";
                ctx.fillStyle = "rgb(255,255,255)";
                ctx.fillRect(0, 0, w, h);
                var image = canvas1.toDataURL("image/jpeg")
                ctx.clearRect(0, 0, w, h);
                ctx.putImageData(data, 0, 0);
                ctx.globalCompositeOperation = compositeOperation;

         
                console.log("despues clicked");
                //document.getElementById('id1').value = String(image); 
                var block = image.split(";");
                // Get the content type of the image
                var contentType = block[0].split(":")[1];// In this case "image/gif"
                // get the real base64 content of the file
                //alert(contentType)
                var realData = block[1].split(",")[1];// In this case "R0lGODlhPQBEAPeoAJosM...."
                //alert(realData)
                // Convert it to a blob to upload
                var blob = b64toBlob(realData, contentType);
                var form = document.getElementById("form1");
                var concept = prompt("Please enter your tag", "Unknown");
                // Create a FormData and append the file with "image" as parameter name
                var formDataToUpload = new FormData(form);
                //formDataToUpload.append("image", blob);
                //form.submit()
                var xhr = new XMLHttpRequest();
                //xhr.responseType = 'blob';
                xhr.onreadystatechange = onCallback(xhr);
                idfile = parseInt(Math.random() * 1000);
                //xhr.setRequestHeader('Content-type', 'image/octet-stream; charset=utf-8');
                xhr.open('POST', 'http://localhost:5555/result?tag=' + concept + '&idfile=' + idfile, false); //my url had the ID of the item that the blob corresponded to
                //xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
                //xhr.responseType = 'blob';
                xhr.send(blob);
                window.location.href = 'http://localhost:5555/last_result?tag=' + concept + '&idfile=' + idfile
               
            }
        }
            function onCallback(xhr) {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        promt(xhr.responseText);
                    }
                }
            }

            function predictPicture() {
                var canvas1 = document.getElementById("canvas");
                if (canvas1.getContext) {
                    var ctx = canvas1.getContext("2d");


                    //testcompist
                    w = canvas1.width
                    h = canvas1.height
                    data = ctx.getImageData(0, 0, w, h);
                    var compositeOperation = ctx.globalCompositeOperation;
                    ctx.globalCompositeOperation = "destination-over";
                    ctx.fillStyle = "rgb(255,255,255)";
                    ctx.fillRect(0, 0, w, h);
                    var image = canvas1.toDataURL("image/jpeg")
                    ctx.clearRect(0, 0, w, h);
                    ctx.putImageData(data, 0, 0);
                    ctx.globalCompositeOperation = compositeOperation;


                    console.log("despues clicked");
                    //document.getElementById('id1').value = String(image); 
                    var block = image.split(";");
                    // Get the content type of the image
                    var contentType = block[0].split(":")[1];// In this case "image/gif"
                    // get the real base64 content of the file
                    //alert(contentType)
                    var realData = block[1].split(",")[1];// In this case "R0lGODlhPQBEAPeoAJosM...."
                    //alert(realData)
                    // Convert it to a blob to upload
                    var blob = b64toBlob(realData, contentType);
                    var form = document.getElementById("form1");
                    //var concept = prompt("Please enter your tag", "Unknown");
                    // Create a FormData and append the file with "image" as parameter name
                    var formDataToUpload = new FormData(form);
                    //formDataToUpload.append("image", blob);
                    //form.submit()
                    var xhr = new XMLHttpRequest();
                    idfile = parseInt(Math.random() * 1000);
                    //xhr.setRequestHeader('Content-type', 'image/octet-stream; charset=utf-8');
                    xhr.open('POST', 'http://localhost:5555/predict?idfile=' + idfile, false); //my url had the ID of the item that the blob corresponded to
                    //xhr.responseType = 'blob';
                    
                    xhr.send(blob);
                    window.location.href = 'http://localhost:5555/last_predict?idfile=' + idfile

                }
            }

        function selectColor(el) {
            for (var i = 0; i < document.getElementsByClassName("palette").length; i++) {
                document.getElementsByClassName("palette")[i].style.borderColor = "#777";
                document.getElementsByClassName("palette")[i].style.borderStyle = "solid";
            }
            el.style.borderColor = "#fff";
            el.style.borderStyle = "dashed";
            color = window.getComputedStyle(el).backgroundColor;
            ctx.beginPath();
            ctx.strokeStyle = color;
        }

        // prototype to	start drawing on touch using canvas moveTo and lineTo
        var drawTouch = function () {
            var start = function (e) {
                ctx.beginPath();
                x = e.changedTouches[0].pageX;
                y = e.changedTouches[0].pageY - 44;
                ctx.moveTo(x, y);
            };
            var move = function (e) {
                e.preventDefault();
                x = e.changedTouches[0].pageX;
                y = e.changedTouches[0].pageY - 44;
                ctx.lineTo(x, y);
                ctx.stroke();
            };
            document.getElementById("canvas").addEventListener("touchstart", start, false);
            document.getElementById("canvas").addEventListener("touchmove", move, false);
        };

        // prototype to	start drawing on pointer(microsoft ie) using canvas moveTo and lineTo
        var drawPointer = function () {
            var start = function (e) {
                e = e.originalEvent;
                ctx.beginPath();
                x = e.pageX;
                y = e.pageY - 44;
                ctx.moveTo(x, y);
            };
            var move = function (e) {
                e.preventDefault();
                e = e.originalEvent;
                x = e.pageX;
                y = e.pageY - 44;
                ctx.lineTo(x, y);
                ctx.stroke();
            };
            document.getElementById("canvas").addEventListener("MSPointerDown", start, false);
            document.getElementById("canvas").addEventListener("MSPointerMove", move, false);
        };

        // prototype to	start drawing on mouse using canvas moveTo and lineTo
        var drawMouse = function () {
            var clicked = 0;
            var start = function (e) {
                clicked = 1;
                ctx.beginPath();
                x = e.pageX;
                y = e.pageY - 44;
                ctx.moveTo(x, y);
            };
            var move = function (e) {
                if (clicked) {
                    x = e.pageX;
                    y = e.pageY - 44;
                    ctx.lineTo(x, y);
                    ctx.stroke();
                }
            };
            var stop = function (e) {
                clicked = 0;
            };
            document.getElementById("canvas").addEventListener("mousedown", start, false);
            document.getElementById("canvas").addEventListener("mousemove", move, false);
            document.addEventListener("mouseup", stop, false);
        };

    </script>
</head>
<body>
    <div id="page">
        <div class="header">
            <a id="new" class="navbtn" onclick="newCanvas()">New</a>
            <a id="new" class="navbtn" onclick="savePicture()">Train</a>
            <a id="new" class="navbtn" onclick="predictPicture()">Predict</a>
            <div class="title">Microsoft Cognitive Services Doodle</div>
        </div>
        <div id="content"><p style="text-align:center">Loading Canvas...</p></div>
        <div class="footer">
            <div class="palette-case">
                <div class="palette-box">
                    <div class="palette white" onclick="selectColor(this)"></div>
                </div>
                <div class="palette-box">
                    <div class="palette black" onclick="selectColor(this)"></div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <form id="form1" action="http://localhost:5555/result" method="POST" enctype="multipart/form-data">
            <input type='text' id='id1' />
            <input type="file" name="image" accept="image/*">
        </form>
    </div>
</body>
</html>